@import "tailwindcss";

:root {
    --primary-color: #FFBB4E;
    --light-primary-color: #ffe5bc;
    --primary-color-hover: #ebaa43;
    --dark-color: #0D0A08;
    --light-secondary-color: #d9d1db;
    --secondary-color: #631875;
    --secondary-color-hover: #420c50;
    --red-color: #c92d2d;
}

body {
    @apply p-0 font-mono
}

main {
    @apply flex flex-col justify-between p-5 min-h-screen;
}

.mentions {
    @apply text-white text-center italic opacity-50;
}
.button-default {
    @apply bg-(--primary-color) text-center font-bold py-2 px-4 rounded text-(--dark-color) hover:bg-(--primary-color-hover) hover:scale-105 transition-colors duration-300 cursor-pointer;
}

.button-action {
    @apply text-center font-bold py-2 px-4 rounded text-white hover:scale-105 transition-colors duration-300 cursor-pointer;
}

.bg-default {
    @apply bg-(--dark-color);
}

.flip-card {
  perspective: 1000px;
}

.flip-inner {
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flipped .flip-inner {
  transform: rotateY(180deg);
}

.flip-front,
.flip-back {
  backface-visibility: hidden;
  position: absolute;
  inset: 0;
  border-radius: 0.5rem;
}

.flip-back {
  transform: rotateY(180deg);
}

.name {
  @apply border-b border-dotted border-gray-400 cursor-pointer hover:text-blue-600;
}

.img-card {
    @apply absolute inset-0 object-cover w-full h-full rounded-md
}

.card-not-obtained {
    @apply grayscale opacity-50 brightness-75 contrast-75 cursor-not-allowed;
}

.input-default {
    @apply bg-(--light-secondary-color) rounded p-3  border border-gray-600 focus:outline-none focus:ring-2;
}

.anim-zoom {
  @apply hover:scale-105 transition-transform duration-300 ease-in-out;
}

.form-de-fou {
  @apply flex justify-center items-center gap-10;
}

.form-de-fou form {
  @apply flex flex-col gap-6;
}

.form-de-fou form>div {
  @apply flex flex-col;
}

.form-de-fou form>div>label {
  @apply text-(--dark-color);
}
.form-de-fou form>div>input, .form-de-fou form>div>select {
  @apply min-w-[500px] focus:ring-(--primary-color);
}

.form-de-fou form>div>select {
  @apply bg-(--light-secondary-color) rounded p-3 border border-gray-600 focus:outline-none focus:ring-2;
}

.h1-form {
  @apply text-3xl font-bold mb-4 text-(--dark-color);
}