<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/output.css">
    <script src="../static/js/main.js"></script>
    <title>TCG IMAC</title>
    <script src="../static/js/api_booster.js"></script>
    <script src="https://kit.fontawesome.com/6a27157276.js" crossorigin="anonymous"></script>
</head>

<body class="bg-default ">
    <main>
        <div class="flex flex-col justify-between items-center gap-15">
            <h1 class="text-2xl font-bold">Ouvre ton booster</h1>

            <div class="flex gap-6">
                
            </div>

            <div id="action-buttons" class="mt-6">
                <button id="flipAllBtn" onclick="flipAll()"
                    class="px-4 py-2 bg-(--primary-color) text-black rounded font-bold shadow-lg hover:bg-(--primary-color-hover) cursor-pointer">
                    Tout retourner
                </button>

                <button id="claimBtn"
                    class="px-4 py-2 bg-(--red-color) text-white rounded font-bold shadow-lg hover:bg-green-500 hidden cursor-pointer">
                    Réclamer
                </button>
            </div>
        </div>

        <p class="mentions">Projet d'architecture web en IMAC 1 | by Nina GOISLOT | 23 juin 2025
        </p>
    </main>
</body>

</html>