<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/output.css">
    <script src="../static/js/main.js"></script>
    <script src="https://kit.fontawesome.com/6a27157276.js" crossorigin="anonymous"></script>
    <title>TCG IMAC</title>
</head>

<body class="bg-default ">
    <main class="">
        <nav class="flex justify-end">
            <nav class="flex justify-end gap-5">
                {% if session["is_connected"] %}
                <a href="/deconnexion" class="button-default" title="Se déconnecter"><i
                        class="fa-solid fa-right-from-bracket"></i></a>
                {% else %}
                <a href="/connexion" class="button-default">Connexion</a>
                {% endif %}
            </nav>
        </nav>

        <div class="flex justify-center">
            <div class="w-1/2 max-w-6xl py-8 px-4">
                <!-- Bouton de création -->
                <div class="mb-4 flex justify-end">
                    <a href="card.html" class="bg-(--secondary-color) hover:bg-(--secondary-color-hover) font-semibold button-action">
                        + Nouvelle carte
                    </a>
                </div>

                <!-- Tableau -->
                <table class="min-w-full divide-y divide-gray-300 bg-white shadow-md rounded-lg">
                    <thead class="bg-gray-50">
                        <tr>
                            <th class="px-4 py-3 text-left text-sm font-medium text-gray-700 cursor-pointer"
                                onclick="sortTable(0)">ID <i class="fa-solid fa-sort"></i></th>
                            <th class="px-4 py-3 text-left text-sm font-medium text-gray-700">Nom</th>
                            <th class="px-4 py-3 text-left text-sm font-medium text-gray-700 cursor-pointer"
                                onclick="sortTable(2)">Catégorie <i class="fa-solid fa-sort"></i></th>
                            <th class="px-4 py-3 text-left text-sm font-medium text-gray-700 cursor-pointer"
                                onclick="sortTable(3)">PV <i class="fa-solid fa-sort"></i></th>
                            <th class="px-4 py-3 text-left text-sm font-medium text-gray-700 cursor-pointer"
                                onclick="sortTable(4)">Créée <i class="fa-solid fa-sort"></i></th>
                            <th class="px-4 py-3 text-left text-sm font-medium text-gray-700">Actions</th>
                        </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-200 text-sm">
                        {% for card in cards %}
                        <tr class="">
                            <td class="px-4 py-2">{{ card.id_card }}</td>
                            <td class="px-4 py-2">
                                <span
                                    class="border-b border-dotted border-gray-400 cursor-pointer hover:text-blue-600">{{card.name_card}}</span>
                            </td>
                            <td class="px-4 py-2">{{ card.category }}</td>
                            <td class="px-4 py-2">{{ card.pv_card }}</td>
                            <td class="px-4 py-2">{{ card.date_release }}</td>
                            <td class="flex px-4 py-2 space-x-2">
                                <a href="/cardManager/editCard/{{ card.id_card }}" title="Modifier la carte"
                                    class="bg-yellow-400 hover:bg-yellow-500 flex-1 button-action"><i
                                        class="fa-solid fa-pen"></i></a>
                                <button onclick="deleteRow(this)" title="Supprimer la carte"
                                    class="bg-red-500 hover:bg-red-600 flex-1 button-action"><i
                                        class="fa-solid fa-trash"></i></button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="w-1/2 max-w-6xl py-8 px-4">
                <!-- Bouton de création -->
                <div class="mb-4 flex justify-end">
                    <a href="card.html" class="bg-(--secondary-color) hover:bg-(--secondary-color-hover) font-semibold button-action">
                        + Nouvelle compétence
                    </a>
                </div>

                <!-- Tableau -->
                <table class="min-w-full divide-y divide-gray-300 bg-white shadow-md rounded-lg">
                    <thead class="bg-gray-50">
                        <tr>
                            <th class="px-4 py-3 text-left text-sm font-medium text-gray-700 cursor-pointer"
                                onclick="sortTable(0)">ID <i class="fa-solid fa-sort"></i></th>
                            <th class="px-4 py-3 text-left text-sm font-medium text-gray-700">Nom</th>
                            <th class="px-4 py-3 text-left text-sm font-medium text-gray-700 cursor-pointer"
                                onclick="sortTable(3)">Desription <i class="fa-solid fa-sort"></i></th>
                            <th class="px-4 py-3 text-left text-sm font-medium text-gray-700 cursor-pointer"
                                onclick="sortTable(4)">Puissance <i class="fa-solid fa-sort"></i></th>
                            <th class="px-4 py-3 text-left text-sm font-medium text-gray-700 cursor-pointer"
                                onclick="sortTable(4)">Coût <i class="fa-solid fa-sort"></i></th>
                            <th class="px-4 py-3 text-left text-sm font-medium text-gray-700">Actions</th>
                        </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-200 text-sm">
                        {% for skill in skills %}
                        <tr class="">
                            <td class="px-4 py-2">{{ skill.id_skill }}</td>
                            <td class="px-4 py-2">
                                <span
                                    class="border-b border-dotted border-gray-400 cursor-pointer hover:text-blue-600">{{skill.name_skill}}</span>
                            </td>
                            <td class="px-4 py-2">{{ skill.desc_skill }}</td>
                            <td class="px-4 py-2">{{ skill.power_skill }}</td>
                            <td class="px-4 py-2">{{ skill.e_cost_skill }}</td>
                            <td class="flex px-4 py-2 space-x-2">
                                <a href="/cardManager/editSkill/{{ skill.id_skill }}" title="Modifier la carte"
                                    class="bg-yellow-400 hover:bg-yellow-500 flex-1 button-action"><i
                                        class="fa-solid fa-pen"></i></a>
                                <button onclick="deleteRow(this)" title="Supprimer la carte"
                                    class="bg-red-500 hover:bg-red-600 flex-1 button-action"><i
                                        class="fa-solid fa-trash"></i></button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <p class="mentions">Projet d'architecture web en IMAC 1 | by Nina GOISLOT | 23 juin
            2025
        </p>
    </main>
</body>

</html>