<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
    <script src="https://kit.fontawesome.com/6a27157276.js" crossorigin="anonymous"></script>
    <title>TCG IMAC</title>
</head>

<body class="bg-default ">
    <main class="">
        <nav class="flex justify-end">
            <nav class="flex justify-end gap-5">
                {% if session["is_connected"] %}
                <a href="/deconnexion" class="button-default" title="Se déconnecter"><i
                        class="fa-solid fa-right-from-bracket"></i></a>
                {% else %}
                <a href="/connexion" class="button-default">Connexion</a>
                {% endif %}
            </nav>
        </nav>

        <div class="flex flex-col gap-10 justify-center items-center">
            <h1 class="text-3xl font-bold mb-4 text-white">{% if card.id_card %}Modifier la carte{% else %}Création d'une carte{% endif %}</h1>
            <div class="flex justify-center items-center gap-10">
                 {% if card.image_card %} 
                  <img src="{{ url_for('static', filename='images/' + card.image_card) }}" alt=""
                    class=" max-h-[600px] inset-0 object-cover rounded-md">
                 {% endif %}
               
                <div class="flex flex-col">
                    <form method="post" action="/cardManager/applyEditCard/{% if card.id_card %}{{ card.id_card }}{% else %}None{% endif %}" class="flex flex-col gap-6">
                        <div class="flex flex-col">
                            <label for="name_card" class="text-white">Nom de la carte</label>
                            <input type="text" name="name_card" placeholder="Nom"
                                {% if card.name_card %} value="{{card.name_card}}" {% endif %} required
                                class="w-full input-default focus:ring-(--primary-color)">
                        </div>
                        <div class="flex flex-col">
                            <label for="pv_card" class="text-white">Points de vie</label>
                            <input type="number" name="pv_card" placeholder="PV"
                                {% if card.pv_card %} value="{{card.pv_card}}" {% endif %} required
                                class="w-full input-default focus:ring-(--primary-color)">
                        </div>

                        <div class="flex flex-col">
                            <label for="image_card" class="text-white">Lien de l'image</label>
                            <input type="text" name="image_card" {% if card.image_card %} value="{{card.image_card}}"
                                {% endif %} class="input-default focus:ring-(--primary-color)">
                        </div>

                        <div class="flex flex-col">
                            <label for="category" class="text-white">Catégorie</label>
                            <select name="category" class="w-full input-default focus:ring-(--primary-color)">
                                {% for category in categories %}
                                <option value="{{ category.id_cat }}" {% if card.id_cat == category.id_cat %} selected
                                    {% endif %}>{{ category.nom_cat }}</option>

                                {% endfor %}
                            </select>

                        </div>
                        <div class="flex flex-col">
                            <label for="rarity" class="text-white">Rareté</label>
                            <select name="rarity" class="w-full input-default focus:ring-(--primary-color)">
                                {% for rarity in rarities %}
                                <option value="{{ rarity.id_rarity }}" {% if card.id_rarity == rarity.id_rarity %}
                                    selected {% endif %}>{{ rarity.level_rarity }} ( {{ rarity.proba_rarity }}%)
                                </option>

                                {% endfor %}
                            </select>
                        </div>
                        <input type="submit" value="Enregistrer"
                            class="w-full bg-(--primary-color) hover:bg-(--primary-color-hover) button-action">
                    </form>
                </div>
            </div>
        </div>

        <p class="mentions">Projet d'architecture web en IMAC 1 | by Nina GOISLOT | 23 juin
            2025
        </p>
    </main>
</body>

</html>