<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
    <script src="https://kit.fontawesome.com/6a27157276.js" crossorigin="anonymous"></script>
    <title>TCG IMAC</title>
</head>

<body class="bg-default ">
    <main class="">
        <nav class="flex justify-end">
            <nav class="flex justify-end gap-5">
                {% if session["is_connected"] %}
                <a href="/deconnexion" class="button-default" title="Se déconnecter"><i
                        class="fa-solid fa-right-from-bracket"></i></a>
                {% else %}
                <a href="/connexion" class="button-default">Connexion</a>
                {% endif %}
            </nav>
        </nav>

        <div class="flex flex-col gap-10 justify-center items-center">
            <h1 class="text-3xl font-bold mb-4 text-white">Modifier la compétence</h1>
            <div class="flex justify-center items-center gap-10">
                <div class="flex flex-col">
                    <form method="post" action="/cardManager/editCard/{{ skill.id_skill }}" class="flex flex-col gap-6">
                        <div class="flex flex-col">
                            <label for="name_skill" class="text-white">Nom de la compétence</label>
                            <input type="text" name="name_skill" placeholder="Boom Boom"
                                {% if skill.name_skill %} value="{{skill.name_skill}}" {% endif %} required
                                class="w-full input-default focus:ring-(--primary-color)">
                        </div>
                        <div class="flex flex-col">
                            <label for="desc_skill" class="text-white">Description</label>
                            <input type="text" name="desc_skill" placeholder="Une compétence incroyable"
                                {% if skill.desc_skill %} value="{{skill.desc_skill}}" {% endif %} required
                                class="w-full input-default focus:ring-(--primary-color)">
                        </div>
                        <div class="flex flex-col">
                            <label for="power_skill" class="text-white">Puissance</label>
                            <input type="number" name="power_skill" placeholder="5"
                                {% if skill.power_skill %} value="{{skill.power_skill}}" {% endif %} required
                                class="w-full input-default focus:ring-(--primary-color)">
                        </div>

                        <div class="flex flex-col">
                            <label for="cost_skill" class="text-white">Coût d'énergies</label>
                            <input type="number" name="cost_skill" placeholder="1"
                                {% if skill.e_cost_skill %} value="{{skill.e_cost_skill}}" {% endif %} required
                                class="w-full input-default focus:ring-(--primary-color)">
                        </div>
                        <input type="submit" value="Enregistrer"
                            class="w-full bg-(--primary-color) hover:bg-(--primary-color-hover) button-action">
                    </form>
                </div>
            </div>
        </div>

        <p class="mentions">Projet d'architecture web en IMAC 1 | by Nina GOISLOT | 23 juin
            2025
        </p>
    </main>
</body>

</html>